<p style="color: green"><%= notice %></p>

<h1>Skeletons</h1>

<div id="skeletons">
  <% @skeletons.each do |skeleton| %>
    <%= render skeleton %>
    <p>
      <%= link_to "Show this skeleton", skeleton %>
    </p>
  <% end %>
</div>

<%= link_to "New skeleton", new_skeleton_path %>
